.container {
  padding: 67px 100px 151px 100px;
  max-width: 1920px;
}
.text {
  margin-top: 11px;
  color: rgba(141, 141, 141, 0.8);
  margin-bottom: 42px;
}
.btnFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 80px 20px 120px;
  }
}
