.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 180px;
  row-gap: 40px;
  justify-content: center;
  align-items: center;
}
.item {
  background-color: #fff;
  padding-top: 40px;
  padding-left: 46px;
  padding-bottom: 40px;
  padding-right: 131px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  min-height: 350px;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.15);
  max-width: 450px;
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
  align-items: center;
  gap: 17px;
}
.category {
  font-size: 16px;
  color: rgba(141, 141, 141, 0.8);
}
.title {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 40px;
  margin-bottom: 40px;
}
.date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 57px;
}

@media (max-width: 1440px) {
  .list {
    column-gap: 80px;
  }
  .item {
    padding: 40px 80px 40px 46px;
  }
  .title {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .date {
    margin-top: 40px;
  }
}
