.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 187px;
  row-gap: 40px;
}
.item {
  background-color: #fff;
  padding: 40px 131px 40px 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-height: 350px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 17px;
}
.category {
  font-size: 16px;
  color: rgba(141, 141, 141, 0.8);
}
.title {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 40px;
  margin-bottom: 40px;
}
.date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 57px;
}
