.header {
  padding: 30px 100px;
  background-color: #cde7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-width: 1920px;
}
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container {
  display: flex;
  gap: 38px;
  align-items: center;
}
